/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #ADD8E6;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

#container {
    width: 45%;
    margin: 20px auto;
}

header > h1,
footer > h4 {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.card {
    float: left;
    width: calc(25% - 20px);
    height: 174px;
    margin: 13px 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 1.5px 1.5px 1.5px #7D9BA4;
    text-shadow: 1.5px 1.5px 1.5px #7D9BA4;
}
.card:not(#card_static) {
    background-image: url('../img/pattern.png');
    background-size: contain;
    background-position: center;
}
.card_img {
    width: 100%;
    height: 114px;
    object-fit: contain;
}
.card_img:not(#card_static > img) {
    visibility: hidden;
}
.card_text {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-size: 25px;
}
.card_text:not(#card_static > h3) {
    visibility: hidden;
 }

.card:not(#card_static):hover{
    cursor: pointer;
    background-image: none;
}
.card:hover .card_img:not(#card_static > img) {
    visibility: visible;
}
.card:hover .card_text:not(#card_static > h3) {
    visibility: visible;
}

.color_pink {
    color: #E61986;
}
.color_orange {
    color: #E67919;
}
.color_blue {
    color: #00BFFF;
}
.color_green {
    color: #32CD32;
}
.color_violet {
    color: #EE82EE;
}
.color_red {
    color: #FF0000;
}

/* header */
header {
    height: 60px;
    line-height: 60px;
    margin-bottom: 25px;
    font-size: 35px;
    color: #FFFFFF;
    text-shadow: 1.5px 1.5px 1.5px #7D9BA4;
}

/* main */
main {
    height: 600px;
}
main > section {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
#card_static:hover {
    cursor: pointer;
    background-image: url('../img/pattern.png');
    background-size: contain;
    background-position: center;
}
#card_static:hover .card_img{
    visibility: hidden;
}
#card_static:hover .card_text{
    visibility: hidden;
}

/* footer */
footer {
    height: 50px;
    line-height: 50px;
}